@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --white: #f1f1f1;

    --greeen: #434A42;
    --yellow: #E1CA96;
}

body {
    background-color: var(--yellow);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--white);
    font-family: 'M PLUS 1 Code', monospace;
}
